{% extends 'base.html' %}

{% block content %}
    <h2>
        Creating article for <a href="{% url 'car' object.pk %}" class="text-decoration-none">{{ object }}:</a>
    </h2>
    <form action="" method="post">
        {% csrf_token %}
        Title of article:
        {{ form.title }}
        {{ form.title.errors }}
        <button type="submit" class="btn btn-success m-1">
            Create
        </button>
        <span class="text-danger-emphasis">
            Be careful, you won't be able to change it in the future!
        </span>

    </form>
{% endblock %}
