{% extends 'base.html' %}
{% load article_tags %}

{% block content %}
<div class="container border rounded m-3 p-4">
    <h2>{{ object|capfirst }}</h2>
    <p>
        Car:
        <a href="{% url 'car' object.car.pk %}">{{ object.car }}</a>
    </p>
    <p class="m-0">Author: <span class="text-muted">{{ user }}</span></p>
    <br>
    {% if form.queryset %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.management_form }}
        {% for item in form %}
        <div class="container border rounded border-3 border-warning">
            <label for="{{ item.title.id_for_label }}">Заголовок:</label>
            {{ item.title }}
            <label for="{{ item.content.id_for_label }}">Содержание:</label>
            {{ item.content }}
            {{ item.position }}
            {{ item.note_id }}
            {{ item.id }}
            <input type="checkbox" name="form-0-DELETE" id="id_{{ item.prefix }}-{{ item.DELETE.name }}" class="btn-check">
            <label class="btn btn-outline-danger" for="{{ item.DELETE.id_for_label }}">Delete</label>
        </div>
        {% endfor %}
        <button type="submit">submit</button>
    </form>
    {% else %}
        <p class="text-muted">
            There are no records yet. You can create them
        </p>
        <a href="" class="btn btn-outline-success">Create records</a>
    {% endif %}

</div>
{% endblock%}
