{% extends 'base.html' %}

{% block main_body %}{% endblock %}

{% block content1 %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><img src="{{ user.profile.image.url }}" alt="" width="30%"></li>
        <li class="list-group-item">
            <strong>Profile image:</strong>
            {{ form.image }}
        </li>
        <li class="list-group-item">
            <strong>Name:</strong>
            {{ form.name }}
        </li>
        <li class="list-group-item">
            <strong>Status:</strong>
            {{ form.status }}
        </li>
        <li class="list-group-item">
            <strong>E-mail:</strong>
            {{ form.email }}
        </li>
    </ul>
    <div class="mx-auto mb-1" style="width: min-content">
        <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
</form>
<div class="mx-auto" style="width: min-content">
    <a type="button" class="btn btn-outline-secondary" href="{% url 'profile' %}">Back</a>
</div>
{% endblock %}
